.form-ask {
    max-width: 1024px;
    padding: 15px;
}

.question {
    font-size: 4em;
    line-height: 1em;
    margin-top: 10%;
}

.author {
    font-size: 2.5em;
    line-height: 1em;
    color: #6666ff;
}


body {
    height: 100vh;
}

.qr_code {
    position: fixed;
    right: 0;
    bottom: 0;
    font-size: 3vh;
}

.qr_code p {
    margin: 0;
}

.qr_code img {
    height: 15vw;
}