{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}Perguntar{% endblock %}</h1>
{% endblock %}

{% block content %}

{% if question %}
<main class="container">
    <p class="question">{{question.question}}</p>
    <p class="author">Enviada por: {{question.author if question.author else "Anônimo"}}</p>
</main>
{% endif %}

<!--<div class="qr_code">-->
<!--    <img src='https://chart.googleapis.com/chart?cht=qr&chl=http%3A%2F%2F45.79.50.95%2F&chs=180x180&choe=UTF-8&chld=L|2' alt=''>-->
<!--</div>-->

{% endblock %}